<!doctype html>
<html lang="en">

<head>
    <title>Assignment Recap</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="css/start-input.css" rel="stylesheet">-->
</head>

<body>
    <div>
        <h1>Assignment Recap</h1>
    </div>

    <div>
        <p>Estimated Time: X hours</p>
        <p>Actual Time: Y hours</p>
    </div>
    
    <div>
        <a href="home-page.html">Back</a> 
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>

</body>
