<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>

    <title>Delay Input</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script> 
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen">
    <link href="css/main2.css" rel="stylesheet">
    <link href="css/enter-name-page.css" rel="stylesheet">

    <!--link href="css/delay-input.css" rel="stylesheet">-->
</head>


<body>
     <div class="contianer">
        <div class="top-of-page">
            <div class="row nav-header">
                <div class="col-3">
                    <a href="progress-checker/{{name}}">
                        <img class="arrow-space" src="images/Arrow2.png">
                    </a>
                </div> 
            </div>
        </div>
        
        <div class="col 12">
            <h1>Pause Assignment</h1>
        </div>


        <form action="/home-page" method="POST" class="col-12">
            <div id="pause-form" class="col-12">
        {{#if viewAlt}}
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">date_range</i>
                        <input placeholder="Tap here to enter date" id="ResumeDate" type="text" class="validate datepicker" name="resInfo[resTime]">
                        <label for="ResumeDate">Resume Date:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">alarm</i>
                        <input placeholder="Tap here to enter time" id="ResumeTime" type="text" class="validate timepicker" name="resInfo[resDate]">
                        <label for="ResumeTime">Resume Time</label>
                    </div>

        {{else}}
               <fieldset>
                    <legend>Restart Date:</legend>
                    <div class="row mmddyyyy">
                        <div class="input-field col-3" id="wrong1">
                            <select name="detail[DueDateMM]" id="DueDateMM" class="validate">
                                <option value="" disabled selected>MM</option>                       
                                <option value="00">1</option>
                                <option value="01">2</option>
                                <option value="02">3</option>
                                <option value="03">4</option>
                                <option value="04">5</option>
                                <option value="05">6</option>
                                <option value="06">7</option>
                                <option value="07">8</option>
                                <option value="08">9</option>
                                <option value="09">10</option>
                                <option value="10">11</option>
                                <option value="11">12</option>
                            </select>    
                        </div>
                        <div class="input-field col-3" id="wrong2">
                            <select name="detail[DueDateDD]" id="DueDateDD">
                                <option value="" disabled selected>DD</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>    
                        </div>
                        <div class="input-field col-3" id="wrong3">
                            <select name="detail[DueDateYYYY]" id="DueDateYYYY">
                                <option value="" disabled selected>YYYY</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                                <option value="2020">2020</option>
                                <option value="2021">2021</option>
                                <option value="2022">2022</option>
                            </select>    
                        </div>
                    </div>   <!-- end row -->
                </fieldset>
                <fieldset>
                    <legend>Restart Time (24 HR Format):</legend>
                    <div class="row hhmm">
                        <div class="input-field col-3" id="wrong4">
                            <select class="validate" name="detail[DueTimeHH]" id="DueTimeHH">
                                <option value="" disabled selected>HR</option>
                                <option value="00">0</option>
                                <option value="01">1</option>
                                <option value="02">2</option>
                                <option value="03">3</option>
                                <option value="04">4</option>
                                <option value="05">5</option>
                                <option value="06">6</option>
                                <option value="07">7</option>
                                <option value="08">8</option>
                                <option value="09">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>                                
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                               
                            </select>    
                        </div>
                        <div class="input-field col-3" id="wrong5">
                            <select name="detail[DueTimeMM]" id="DueTimeMM">
                                <option value="" disabled selected>MIN</option>
                                <option value="00">00</option>
                                <option value="05">05</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>                                
                                <option value="25">25</option>
                                <option value="30">30</option>
                                <option value="35">35</option>
                                <option value="40">40</option>
                                <option value="45">45</option>
                                <option value="50">50</option>
                                <option value="55">55</option>                                
                                <option value="59">59</option>
                            </select>    
                        </div>
                    </div>
                </fieldset>
        {{/if}}
            </div>
            <div class="right col-12 next-arrow">
                <button type="submit" class="spacedLink no-border">
                    <img class="arrow-space" src="images/Arrow3.png">
                </button>
            </div>
        </form>
    </div> 
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/materialize.js"></script>
    <script src="/js/edit-name-page.js"></script>
    <script src="/js/clockAndCalendar.js"></script>
    {{#if viewAlt}}
    <script src="/js/delay-input.js"></script>
    {{/if}}

</body>
</html>



