<!doctype html>

<html lang="en">

<head>
    <title>Enter Name Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script> 
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen">
    
    <!-- Stylesheets that we wrote -->
    <link href="css/main2.css" rel="stylesheet">
    <link href="css/enter-name-page.css" rel="stylesheet"> 
    
</head>

<body>
    <div class="container">
        <div class="top-of-page">
            <div class="row nav-header">
                <div class="col-3">
                    <a href="home-page">
                        <img class="arrow-space" src="images/Arrow2.png"> 
                    </a>
                </div>
                
            </div>
        </div>
        
        <div class="col-12">
            <h1>{{name}} Details:</h1>
        </div>

        <div>
            <div class="input-field col s12">
                <input placeholder="Enter in MM/DD/YYYY format" id="DueDate" type="text" class="validate">
                <label for="DueDate">Due Date</label>
            </div>
            <div class="input-field col s12">
                <input placeholder="Enter in hrs:mins format" id="DueTime" type="text" class="validate">
                <label for="DueTime">Due Time</label>
            </div>
            <div>
                <a href="#" onclick="autoScroll()">
                    <div class="right next-arrow-pos">
                        <img href="#start-forms" class="arrow-space" src="images/Arrow3.png">
                    </div>
                </a>
            </div>
        </div>
        <!-- checkInputTop for when the user clicks the arrow-->
        <!--<a onclick="return checkInputBottom();" href="start-countdown" class="spacedLink">Continue</a>-->
        <!-- Div that contains empty space, to give illusion of two pages -->
        <div class="middle-spacer"></div>

        <!-- Second set of forms to enter -->
        <div id="start-forms">
            <div class="input-field col s12">
                <input placeholder="Enter in MM/DD/YYYY format" id="StartDate" type="text" class="validate">
                <label for="StartDate">Desired Start Date</label>
            </div>

            <div class="input-field col s12">
                <input placeholder="Enter in hrs:mins format" id="StartTime" type="text" class="validate">
                <label for="StartTime">Desired Start Time</label>
            </div>

            <div class="input-field col s6">
                <input placeholder="Enter in hrs:mins format" id="Checkpoint" type="text" class="validate">
                <label for="Checkpoint">Checkpoint Interval</label>
            </div>
            
            <div class="input-field col s12">
                <input placeholder="Enter in hrs:mins format" id="Estimate" type="text" class="validate">
                <label for="Estimate">Estimated Hours Until Completion</label>
            </div>
        </div>
        
        <div class="bottom-spacer"></div>
        <a onclick="return checkInputBottom();" href="start-countdown" class="spacedLink">
            <div class="right arrow-finish">
                <img src="images/Arrow3.png">
            </div>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>        
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
    <script src="js/edit-name-page.js"></script>
</body>
