<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/home-page.css">
</head>

<body>
    <div class="container">
        <div class="row navbar-header">
            <div class="col-10">
                <h1>ASSIGNMENTS</h1>
            </div>
            <div class="col-2">
                <a href="user-settings.html">
                    <img src="gear.png">
                </a>
            </div>
        </div>
        {{#each project}}
        	 <div class="row items">
             	<div class="col-10">
                    <a href="#" onclick="window.alert('Estimated Time: {{estimated_time}}\nActual Time: {{actual_time}}');">
                        <h3 class="prevAssignment">{{name}}</h3>
                    </a>
            	</div>
            	<div class="col-2">
                	<img src="checkbox.png">
            	</div>
        	</div>
        {{/each}}
        
        <a href="#" id="add-link" method="get" action="/enterDetails">
            <div class="add-sign">
                <img src="add.png">
            </div>
        </a>
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/name-popup.js"></script>
    </div>
</body>
</html>
