<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='170624305-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
	<script>
 	 window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());

  	gtag('config', 'UA-114902393-1');
	</script>


	<title>Log In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/main2.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

</head>
<body>
	<div class="container text-center">
		<div class="title">
			<h1>DoItEarly</h1>
		</div>
		<div class="div-login">
			<form action="/home-page" method="GET">
				<div class="form-group input-group">
			  		<span class="input-group-addon glyphicon glyphicon-envelope"></span>    
			  		<input class="form-control" type="text" placeholder="Email">
				</div>
				<div class="form-group input-group">
			  		<span class="input-group-addon glyphicon glyphicon-lock"></span>    
			  		<input class="form-control" type="password" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-success btn-block login">LOGIN</button>
			</form>
			<div class="row signup">
				<div class="col-xs-5">
					<h5 class="left">Sign Up</h5>
				</div>
				<div class="col-xs-7">
					<h5 class="right">Forgot Password</h5>
				</div>
				<p class="facebookLogin">
					<fb:login-button scope="public_profile,email" onlogin="window.location='/home-page'">
					</fb:login-button>
				</p>
			</div>
		</div>
	</div>

 	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	{{> facebook}}
	<script src="/js/facebook.js"></script>

</body>
</html>