<!DOCTYPE html>
<html>
<head>
    <title>Home page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/home-page.css">
</head>

<body>
    <div class="container">
        <div class="title">
            <h1 class="title-text">DoItEarly</h1>
        </div>
        <form>
            <div class="input">
                <input type="text" placeholder="Email">
            </div>
            <div class="input">
                <input type="password" placeholder="Password">
            </div>
            <div class="login">
                <a href="/home-page">
                    <h2>Log In</h2>
                </a>
            </div>
        </form>
    </div>
</body>
<script src="../public/js/jquery-1.11.0.js"></script>
<script src="../public/js/bootstrap.js"></script>
<script src="../public/js/enter-name.js"></script>
</html>
