<!doctype html>

<html lang="en">
<head>
	<title>Progress Check</title>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">	
	
	<link href="/css/bootstrap-reboot.css" rel="stylesheet">
	<link href="/css/progress.css" rel="stylesheet">
	<link href="/css/main2.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="/css/modal.css" rel="stylesheet">
	<!-- hex:#009688 -->
	<!-- background hex: #979797 -->

</head>

<body>
	<div class="container">
		<!--<div id="myProgress">
		  <div id="myBar"></div>
		</div> 
		<button onclick="move()">Click Me</button>
		<div id="top-of-page">
	  		<p>COGS 108 Assignment</p> 
	  	</div> -->

	  	
	  	<div class="top-of-page">
		  	<div class="row">
		  		<div class="col-9">
		  			<h1>{{name}}</h1> 
		  		</div>
		  		<div class="col-3">

		  	{{#if viewAlt}}
		  			<a href = "/edit-assignment"> <img src="/images/edit project.png" id ="edit-assignment" style="width:10vw;margin-top:2vw;"></a>
		  	{{else}}
		  			<a href = "/edit-assignment"> <img src="/images/edit project.png" style="width:10vw;margin-top:2vw;"></a>
		  	{{/if}}
	  			</div>
	  	 </div>
  	</div>
	  		 	

	  	{{#if viewAlt}}
		  	<div class="text-center">	  	
		  		<center>   	
			  		</br>		  		
				 	 <a href="/delay-input"><button type="button" class="btn btn-danger btn-wide btn-block" id="pause-button" style="width:60%; background-color: #DB4437; border-color: #DB4437;" align="middle"> Pause </button>
					  	</a>			  	
				  	</br>
				  	</br>
					<button type="button" class="btn btn-success btn-wide btn-block" id="finish-buttonAlt"  style="width: 60%; background-color: #3E50B4; border-color: #3E50B4;" align="middle">Finish</button>		  	
					</br>
					</br>
				</center>
			</div>			
		{{else}}
		  	<div class="text-center">	  	
		  		<center>   	
			  		</br>	
					<a href="/delay-input"><button type="button" class="btn btn-danger btn-wide btn-block" id="pause-button" style="width:60%; background-color: #DB4437; border-color: #DB4437;" align="middle"> Pause </button>
					  	</a>
					  	</br>
					  	</br>
					<a href="/finish-confirmation.html"><button type="button" class="btn btn-success btn-wide btn-block" id="finish-button"  style="width: 60%; background-color: #3E50B4; border-color: #3E50B4;">Finish</button></a>		 
					</br>
					</br>
				</center>
			</div>
		{{/if}}
		
		<div>
			<p style="margin-bottom: -1vw">Next checkpoint: (HH:MM:SS) <div id="progress-timer-2"></div></p>	
		</div>
		
		<div id="progressBarz">
	  		<div class="bar"></div>
		</div>

		<div>
			<h5>Assignment due in: <div id="progress-timer"></div></h5>		
		</div>

		</br>

		<div>
			<p name="checkpointPercent" id="checkpointPercent">Progress (% Completed): _____ </p>
			<p>Estimate Based on Progress: 6hr 30min</p>
		</div>

		<div>
			<button id="checkpoint0">See what happens when checkpoint timer hits 0</button>
			</br>
			</br>
			<button id="1HourRemaining">See what happens when 1 hour is left</button> 
		</div>

	<!--the modals -->
		</div>
			<div id="myModal" class="modal">
	        	<div class="modal-content">
	            	<!--<span class="close">&times;</span>-->            
	            	<div class="startOptions">
	                	<h6>Enter your progress
	                        <button onclick="checkPointInfo()">?</button><br> 
	                        <input type="text" placeholder="Ex: 15%" name="checkpointInterval" id ="checkpointInterval" ><br>
	                    </h6>                	
	                    <span class="close"><p onclick="setCheckPoint();"> Next </p></span>
	            	</div>
	        	</div>            
	    	</div>

	    	<div id="myModal2" class="modal">
	        	<div class="modal-content">
	            	<!--<span class="close">&times;</span>-->            
	            	<div class="startOptions">
		            	<center>
		                	<h3>One Hour Remaining!<br></h3>
		                </center>
	                	<span class="close"> <p> Next </p></span>
	            	</div>
	        	</div>            
	    	</div>

	    	{{#if viewAlt}}
	    	<div id="finishModal" class="modal">
	        	<div class="modal-content">
	            	<!--<span class="close">&times;</span>-->            
	            	<div class="startOptions">
		            	<center>
		                	<h3>Are you sure you are finished with your assignment?<br></h3>
		                </center>
		                </br>
		                <div class="row">
				            <div class="col-3">
		            			<center>
		                			<span class ="close"><a href="/home-page"> <p style= "color:#009688;"> Yes </p></a></span>
		            			</center>
		       				</div>		                
			                <div class="col-9">
			                	<center>
		                			<span class="close"> <p style= "color:#009688;"> No </p></span>
		                		</center>
		                	</div>
		                </div>
	            	</div>
	        	</div>            
	    	</div>
	    	{{/if}}
    	</div>
    </div>


	
		<!--<script data-main="app" src="../requirejs/require.js"></script> -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/progress.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
		<script src="/jquery-countdown/dist/jquery.countdown.js"></script>	
		<script type="text/javascript" src="/js/materialize.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>
	</body>
</html>
