<!doctype html>
<html lang="en">

<head>
    <title>Countdown to start</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="/bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    
    <link href="/css/start-popup.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="/css/progress.css" rel="stylesheet">
    <link href="/css/main2.css" rel="stylesheet">
    <link href="/css/modal.css" rel="stylesheet">
    <!--<link href="css/start-input.css" rel="stylesheet">-->
</head>

<!-- test to git-->
<body>
    <div class ="container">
        <div class="top-of-page">
            <div class="row">
                <div class="col-9">
                    <h1 style="color:white">{{name}}</h1> 
                </div>
                <div class="col-3">
                    <a href = "/edit-assignment-from-start"> <img src="/images/edit project.png" style="width:10vw;margin-top:2vw;"></a>
                </div>
             </div>
         </div>

    <div class ="text-center">
        <center>
            </br>
            <h2>Time Until Start:</h2>
             <div id="progress-timer"></div>
            </br>

            <a href="/progress-checker"><button type="button" class="btn btn-danger btn-wide btn-block" id="starEarly-button" style="width:70vw; background-color: #009688; border-color: #009688;" align="middle"> Start Early! </button></a>

        </center>
    </div>


    <div>
        </br>
        </br>
        <button id="myBtn">When countdown hits 0</button>
        </br>
        </br>   
        <button id="myBtnAGAIN">When countdown hits 0 and user has delayed more than once</button>
         <!--<button id ="myBtn" onclick="document.getElementById('sound1').play();">When countdown hits 0</button> -->
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <!--<span class="close">&times;</span>-->            
            <div class="startOptions">
                <h1>It's time to start working on the assignment</h1>
            </div>

            <div class="startOptions">
                <a href="/progress-checker">Start!</a>
                <div class="btnDivider" />
                <a href="/delay-start.html">Delay</a>
            </div>
    </div>

    <div id="myModalAGAIN" class="modal">
        <div class="modal-content">
            <!--<span class="close">&times;</span>-->        
            <div class="startOptions">
                <h1>IT'S TIME TO START ON YOUR ASSIGNMENT NOW!!!!</h1>
            </div>           

        <div class="startOptions">
            <a href="/progress-checker">START NOW!</a>
            <div class="btnDivider" />
            <a href="/delay-start.html">DELAY AGAIN</a>
            <!--<a href="delay-startAGAIN.html">DELAY AGAIN</a> CREATE THIS PAGE-->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>     
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="/jquery-countdown/dist/jquery.countdown.js"></script>
    <script src="/js/countdownUntilStart.js"></script>    
</body>
</html>
