<!doctype html>
<html lang="en">

<head>
    <title>Countdown to start</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link href="css/start-input.css" rel="stylesheet">-->
</head>

<body>
    <div>
        <a href="enter-name-page.html">Edit</a>
    </div>
    <div>
        <h1>Countdown Until Assignment Start</h1>
    </div>

    <div>
        <a href="progress-checker.html">Start Early!</a>
    </div>

    <div>
        <a href="start-popup.html">When countdown hits 0</a>
    </div>
</body>
