<!doctype html>
<html lang="en">

<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114902393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114902393-1');
</script>
-->

    <title>User Settings</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="bootstrap-4.0.0/js/tests/vendor/jquery-1.9.1.min.js"></script> 
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen">
    
    <link href="css/main2.css" rel="stylesheet">
    <link href="css/start-input.css" rel="stylesheet">
</head>

<body>
        <div class="container">
        <div class="top-of-page">
            <div class="row nav-header">
                <div class="col-3">
                    <a href="home-page">
                        <img class="arrow-space" src="images/Arrow2.png">
                    </a>
                </div> 
            </div>
        </div>

    <div class ="col-12">
    <div>
        <h1>Edit Settings</h1>
    </div>
    
    <div>
        <p>
            Change Email: <input type="text" name="email"><br>
        </p>
        <p>
            Change Password: <input type="text" name="pass"><br>
        </p>

    </div>
    </div>
    
      <div>
        <center>
            <a href="home-page">
                <button type="button" class="save-button btn" align="middle">Save</button>
            </a>
        </center>
    </div>
</body>
