h1 {
    font-size: 6vw;
    /*white-space: nowrap;*/
    max-width: 650px;
}

.spacedLink {
   margin-top: 30px; 
   display: block;
}

.btn-primary.info {
  color: #ffffff;
  background-color: #009688;
  border-color: #285e8e;
}
