h1 {
    font-size: 6vw;
	/*white-space: nowrap;*/
	max-width: 650px;
    color: #009688;
    margin-bottom: 10vh;
    font-family: Roboto;
}

.middle-spacer {
    margin-bottom: 55vh;
}

.bottom-spacer {
    margin-bottom: 25vh;
}

.container {
	max-width: 650px;
	width: 100%;
	/*border: 2px solid black;*/
	margin: 0 auto;
	height: 100%;
    padding: 0 0;
	background-color: white;
	overflow: scroll;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.arrow-space {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.arrow-back {
  margin-bottom: 5vh;
}

.arrow-finish {
    margin-bottom: 0vh;
    margin-right: 10vw;
}

.spacedLink {
   margin-top: -15px; 
   margin-bottom: 30px;
   display: block;
}

.next-page {
  margin-top: 10em;
}


.btn-primary.info {
  color: #ffffff;
  background-color: #009688;
  border-color: #285e8e;
}


.input-field label {
  color: black;
  font-size: 1rem;
}

/* Style Placeholders */
::-webkit-input-placeholder {
  /*color: #009688;*/
}


#first-form {
  /*height: 25rem;*/
}

#second-form {
  /* padding-top: 20px;*/
}

.middle-space {
  height: 20em;
}

fieldset {
  padding: 0 5px;
  border: none;
}
 legend {
  margin: 0;
  color: #009688;
  font-size: 1em;
 }

 form {
  margin: 5px;
 }
