h1 {
    font-size: 6vw;
	/*white-space: nowrap;*/
	max-width: 650px;
    color: #009688;
    margin-bottom: 10vh;
    font-family: Roboto;
}

.middle-spacer {
    margin-bottom: 75vh;
}

.bottom-spacer {
    margin-bottom: 35vh;
}

.container {
	max-width: 650px;
	width: 100%;
	/*border: 2px solid black;*/
	margin: 0 auto;
	height: 100%;
    padding: 0 0;
	background-color: white;
	overflow: scroll;
    overflow-y: auto;
}

.arrow-space {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.arrow-finish {
    margin-bottom: 15vh;
    margin-right: 10vw;
}

.spacedLink {
   margin-top: 30px; 
   margin-bottom: 30px;
   display: block;
}

.next-arrow-pos {
    margin-right: 10vw;
    margin-top: 20vh;
}

.btn-primary.info {
  color: #ffffff;
  background-color: #009688;
  border-color: #285e8e;
}
