html, body {
	height: 100%;
	background-color: #F2F3F4;	
}

.navbar-header {
	background-color: white;
	border-bottom: 2px solid black;
	padding: 5px;
}
h1 {
	color: black;
	size: 70px;
	
}
.container {
	max-width: 650px;
	width: 100%;
	/*border: 2px solid black;*/
	margin: 0 auto;
	height: 100%;
	background-color: white;
	overflow: hidden;
}
.glyphicon-cog {
	color: black;
}
img {
	width: 40px;
}
.add-sign {
	position: absolute;
	bottom: 0;
    /* We will need to change this so it isn't hardcoded */
	right: 625px;
}
.edit-logo {
	width: 20%;
	padding: 0;
}
.row {
	border-bottom: 2px solid gray;
	margin: 8px 0px 8px 0px;
}
.items {
	padding-bottom: 8px;
}

.title {
	margin-top: 200px;
}

.title-text {
	font-size: 5em;
	text-align: center;
	border: 2px solid gray;
}
 form {
 	display: block;
 }

 .input, .login {
 	text-align: center;
 	padding-top: 40px;
 }

 .input {
 }

 .login {
 	border: 2px solid gray;
 	width: 70%;
 	margin: 30px auto;
 	padding-top: 15px;
 }







