html, body {
	height: 100%;	
}

.navbar-header {
	background-color: white;
	border-bottom: 2px solid black;
	padding: 5px;
}
h1 {
	color: black;
	size: 70px;
	
}
.container {
	max-width: 650px;
	width: 100%;
	/*border: 2px solid black;*/
	margin: 20px auto;
	height: 100%;
	background-color: white;
}
.glyphicon-cog {
	color: black;
}
img {
	width: 40px;
}
.add-sign {
	position: absolute;
	bottom: 0;
    /* We will need to change this so it isn't hardcoded */
	right: 625px;
}
.edit-logo {
	width: 20%;
	padding: 0;
}
.row {
	border-bottom: 2px solid gray;
	margin: 8px 0px 8px 0px;
}
.items {
	padding-bottom: 8px;
}
