html, body {
	height: 100%;
	min-height: 100%;
}


.container { 
	padding: 0;
	padding-top: 3vh;
	background: rgba(255, 255, 255, 0);
	margin-bottom: 0;	
	margin: 0 auto;
	max-width: 650px;
	width: 100%;
	height: 100%;
	overflow: scroll;
    overflow-y: auto;
    scroll-behavior: smooth;

}

/*.project-name {
	font-size: 3em;
} */

#wrap{

}
.no-border {
	background-color: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}

.container-pad {
	padding-top: 70px;
}

.hideOverflow {
	overflow: hidden;
}

.div-login {
	padding: 0 10%;
}

/*.top-of-page {
	height: 100vh;
}*/

.top-of-page .row {
    background-color: #009688;
    font-family: Roboto;
    max-width: 650px;
    width: 100%;    
    color: white;  
    margin: 0 auto;      
    /*height: 65px;*/
    word-wrap: break-word;
}

.nav-container {
	margin: 0 auto;
	max-width: 650px;
	width: 100%;
	padding-bottom: 0;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	top: 0;
}

.nav-footer {
	max-width: 650px;
	width: 100%;
	height: 15%;
	padding-bottom: 0;
	padding-left: 5%;
	margin: 0 auto;
	z-index: 1;
	background-color: rgba(0,0,0,0);
	position: absolute;
	bottom: 0;
}

.nav-header {
	max-width: 650px;
	width: 100%;
	height: 65px;
	padding-bottom: 0;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	top: 0;
}

.title h1 {
	font-size: 4em;
	margin: 0 auto;
	border-radius: 8px;
	border: 2px solid #009688;
	margin: 5px 0;
	display: inline-block;
	padding: 5px;
	color: #009688;
}

.header h1 {
	color: white;
}

.glyphicon {
    top: 0px;
}

.glyphicon-plus {
	padding: 20px 20px;
	border: 1px solid #009688;
	border-radius: 50%;
	background-color: #009688;
	color: white;
	font-size: 2em;
	margin-right: 5%;
}

.header {
	background-color: #009688;
	max-width: 650px;
	width: 100%;
	color: white;
}

.title {
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: center;
}

.fb-login-button {
	height: 60px !important;
	font-size: 2em !important; 
}

.login {
	height: 60px;
	font-size: 2em;
	background-color: #009688; 
	border-color: #009688;
	margin-bottom: 8px;
}

.signup {
	color: #009688;
	margin-top: 10px;
}

.form-group {
	margin: 40px auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.row {
	max-width: 650px;
	width: 100%;
	margin: 0 0;
}

.item {
	border-bottom: 1px solid black;
}

.wrong {
	color: red;
	font-size: 1.25em;
} 

input.placeholderred::-webkit-input-placeholder {
   color: green;
}

.hiddenInfo {
	display: none;
}

.hiddenDevTools {
	display: none;
}


.wizardOfOz {
	margin: 20px auto;
	color: white;
	font-size: 1.2em;
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

a:active { 
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

button.wizOz {
	width: 80%;
}

.countDown, .timerHeader {
	font-size: 2.5em;
	color: white;
}