html, body {
	height: 100%;
	min-height: 100%;
}

.container { 
	padding: 0;
	background: white;
	margin-bottom: 0;
	background: white;	
	margin: 0 auto;
	max-width: 650px;
	width: 100%;
	height: 100%;
	overflow: scroll;
    overflow-y: auto;

}

.container-pad {
	padding-top: 70px;
}

.top-of-page .row {
    background-color: #009688;
    font-family: Roboto;
    max-width: 650px;
    width: 100%;    
    color: white;  
    margin: 0 auto;
}

.nav-container {
	margin: 0 auto;
	max-width: 650px;
	width: 100%;
	padding-bottom: 0;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	top: 0;
}

.nav-footer {
	max-width: 650px;
	width: 100%;
	height: 15%;
	padding-bottom: 0;
	padding-left: 5%;
	margin: 0 auto;
	z-index: 1;
	background-color: rgba(0,0,0,0);
	position: absolute;
	bottom: 0;
}

.nav-header {
	max-width: 650px;
	width: 100%;
	height: 15%;
	padding-bottom: 0;
	margin: 0 auto;
	z-index: 1;
	position: relative;
	top: 0;
}

.title h1 {
	font-size: 4em;
	margin: 0 auto;
	border-radius: 8px;
	border: 2px solid #009688;
	margin: 5px 0;
	display: inline-block;
	padding: 5px;
	color: #009688;
}

.header h1 {
	color: white;
}

.glyphicon {
    top: 0px;
}

.glyphicon-plus {
	padding: 10px 10px;
	border: 1px solid #009688;
	border-radius: 50%;
	background-color: #009688;
	color: white;
	font-size: 4em;
	margin-right: 5%;
}

.header {
	background-color: #009688;
	max-width: 650px;
	width: 100%;
	color: white;
}

.title {
	margin-top: 100px;
	margin-bottom: 60px;
	text-align: center;
}

.login {
	height: 60px;
	font-size: 2em;
}

.signup {
	color: #009688;
	margin-top: 10px;
}

.form-group {
	margin: 40px auto;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.row {
	max-width: 650px;
	width: 100%;
	margin: 0 0;
}

.item {
	border-bottom: 1px solid black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    max-width: 650px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 30px auto;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

.exit {
	height: 30px;
}

