* {
    font-family: Roboto;
}

#myProgress {
    width: 100%;
    background-color: green;
}

#editPicture{
  width:10vw;
  margin-top:2vw;
}
#p1{   
  
}

a.display-link {
    text-decoration: underline;
    color: black;
}

a.display-link:active {
    text-decoration: underline;
    color: black;
}

a.display-link:visited {
    text-decoration: underline;
    color: black;
}
p {
  margin-bottom: 3vh;
}

h1{
  font-size: 6vw;
  margin-top: 2vh;
}

h5{
  margin-right: 2vw;
}

#progressBarz{
  margin-top: 2vh;
}

/*doesnt work
/*.container{
  max-width: 600px;
  width: 100%;
}*/

#progressBarz {
  border: 2px solid black;
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #ffffff;
  border-style: solid;
  
}

#progressBarz div {
  height: 100%;
  text-align: right;
  /*padding: 0 10px;*/
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #009688;  
}
#border{
 box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 width: 90vw; 
 align-content: center;
 text-align: right;
 padding-top: 2vw;
 /*margin-right: -3vw;*/
}

#text{
    margin: 10px ;
}

/*project name on top*/
.top-of-page {
    background-color: #009688;
    font-family: Roboto;
    max-width: 650px;
    width: 100vw;    
    height: 65px;
    color: white;  
}

.top-of-page .row {
    background-color: #009688;
}


.btn .btn-wide {
    padding: 18px 100px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.picture-location {
    width:20px;
    height:20px;
    position:relative;
    top:-10px;
}

.edit-button {
   margin-top: 2vh;
   width: 40px;
}

.title-text {
   margin-top: 20px;
}

.countdown-spacer {
   margin-top: 2px;
}

.countdown {
   padding-left: 0px;
}

.wizard-spacer {
   margin-bottom: 15px;
}

.dev-options {
   display: none;
   text-align: center;
}

.show-wizard {
   width: 100%;
   text-align: center;
}

/*.container{
    width: 650px;    
}*/

body {font-family: Roboto;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100vh; Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 25vw;
    border: 1vw solid #888;
    width: 20%;
}

/*.container.text-left{
    text-align: right;
}*/
