#myProgress {
    width: 100%;
    background-color: green;
}

#progressBarz {
  border: 2px solid black;
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #ffffff;
}

#progressBarz div {
  height: 100%;
  text-align: right;
  /*padding: 0 10px;*/
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #009688;
  box-sizing: border-box;
}

#text{
    margin: 10px ;
}

.top-of-page {
    background-color: #009688;
    font: "roboto";
    margin: 0px;
    font-size: 50px;
    color: white;  
}


.btn .btn-wide {
    padding: 18px 100px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.picture-location {
    width:20px;
    height:20px;
    position:relative;
    top:-10px;
}

.container{
    width: 650px;    
}


/*.container.text-left{
    text-align: right;
}*/
