#myProgress {
    width: 100%;
    background-color: green;
}

/*doesnt work
/*.container{
  max-width: 600px;
  width: 100%;
}*/

#progressBarz {
  border: 2px solid black;
  width: 90%;
  margin: 10px auto;
  height: 22px;
  background-color: #ffffff;
}

#progressBarz div {
  height: 100%;
  text-align: right;
  /*padding: 0 10px;*/
  line-height: 22px; /* same as #progressBar height if we want text middle aligned */
  width: 0;
  background-color: #009688;
  box-sizing: border-box;
}

#text{
    margin: 10px ;
}

.top-of-page {
    background-color: #009688;
    font: "roboto";
    margin: 0px;
    font-size: 50px;
    color: white;  
}


.btn .btn-wide {
    padding: 18px 100px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

.picture-location {
    width:20px;
    height:20px;
    position:relative;
    top:-10px;
}

.container{
    width: 650px;    
}

body {font-family: Roboto;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/*.container.text-left{
    text-align: right;
}*/
