h1 {
    font-size: 6vw;
	/*white-space: nowrap;*/
	max-width: 650px;
    color: #009688;
    margin-bottom: 10vh;
    font-family: Roboto;
}

h2{
    font-size: 6vw;
    /*white-space: nowrap;*/
    max-width: 650px;
    color: white;
    margin-bottom: 10vh;
    font-family: Roboto;
}


.arrow-space {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-spacer {
    margin-top: 15vh;
}

.save-button {
    width:60vw; 
    background-color: #009688; 
    border-color: #009688;
}

.btn .btn-wide {
    padding: 18px 50px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
