h1 {
  font-size: 6vw;
  margin-top: 2vh;
}

h2 {
	font-size: 9vw;
	margin-top: 5vh
}

.container {
	padding: 0 0;
}
.forms {
    margin-top: 25px;
}
.nextButton {
    display: block;
    margin-top: 25px;
}
